@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

header {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #25363C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo1 {
  width: 125px;
  height: auto;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 100px;
  padding: 0;
  margin: 0;
  font-size: var(--mainfontsize);
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #12A1BB;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons .icon {
  width: 40px;
  height: auto;
}

.icons a {
  display: inline-block;
  vertical-align: middle;
}

.ending {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background: #25363C;
  color: #12A1BB;
  text-decoration: none;
  display: flex;
  gap: 75px;
  font-size: var(--mainfontsize);
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}


.ending a {
  color: #12A1BB;
  text-decoration: none;
  margin: 0 auto;
  flex: 1;
}

.logo3 {
  padding-right: 10px;
  padding-left: 20px;
  width: 350px;
  height: 210px;
}

footer {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #25363C;
  color: #12A1BB;
  font-size: 15px;
}

/* Product Pages Global */

.product {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  display: flex;
}

.product img {
  height: 750px;
  width: auto;
}

.productcontent {
  background-color: white;
  border-radius: 20px;
  padding-left: 150px;
}

/* Product Pages Global End */