@import url("../css/global.css");

@import url("../css/variables.css");

.mainpart {
  background-color: var(--background-color);
  color: var(--color-primary);
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpart h1 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainheaderfontsize);
}

.mainpart h3 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainheaderfontsize);
}

.login {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.loginForm form {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainfontsize);
  display: grid;
  gap: 10px;
}

.loginForm button,
.registerForm Button {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-secondary);
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  font-size: var(--mainfontsize);
  border-radius: 20px;
}

.registerForm a,
.loginForm a {
  text-decoration: none;
  color: var(--color-primary);
}

.registerForm form {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainfontsize);
  display: grid;
}

.registerForm button:hover,
.loginForm button:hover {
  background-color: var(--hovercolor);
}

input[type='text'],
input[type='name'],
input[type='email'],
input[type='number'] {
  padding: 10px;
  height: 10px;
  width: 300px;
  padding: 10px;
}

.form_input {
  display: block;
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
}

.styled-form input::placeholder {
  color: lightgrey;
}

@media (max-width: 768px) {

  .loginForm h3 {
    font-size: var(--phoneheadersize);
  }

  .loginForm form,
  .registerForm h3 {
    font-size: var(--phonemainfontsize);
  }
}