/* Media Queries */

/* Global */

@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
  }

  .logo1 {
    width: 125px;
    height: auto;
  }
  nav {
      margin-top: 10px;
  }

  .navbar {
      flex-direction: row;
      gap: 50px; /* Reduce gap between nav items */
      font-size: 18px; /* Make the font smaller for mobile */
      padding-bottom: 20px;
  }

  .icons {
      gap: 10px; /* Reduce gap between icons */
  }

  .icons .icon {
      width: 30px; /* Make icons smaller */
  }

  .ending {
      flex-direction: column; /* Stack footer sections on mobile */
      font-size: 18px; /* Smaller font size */
      gap: 20px;
      padding-left: 40px;
  }

  .logo3 {
      width: 250px;
      height: auto;
  }

  .shopnow {
      font-size: 20px; 
      padding: 10px 20px;
  }
}


/* Individual Product Page Media Queries */
@media (max-width: 768px) {
    .product {
    width: 300px;
    display: flex;
    flex-direction: column;
    
    }
    
    .productcontent {
      border-radius: 20px;
      padding-left: 1px;
    }
  
    .addtocart,
    .productprice,
    .colors-product,
    .sizes,
    .sizes span,
    .sizeoutofstock,
    .instockdotdiv {
      font-size: 15px;
      gap: 15px;
    }
  
  
    .productcontent,
    .productdescription {
      font-size: 15px;
    }
  
  
    .productname {
      font-size: 30px;
    }
  
    .dotproduct1,
    .dotproduct2,
    .dotproduct3,
    .dotproduct4,
    .dotinstock {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
  
    .product img {
      height: auto;
      width: auto;
    }
  }