@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

html, body {
  margin: 0;
}

header {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #25363C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo1 {
  width: 150px; 
  height: auto;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
}

.navbar {
  list-style: none;
  display: flex;
  gap: 150px; 
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #12A1BB; 
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons .icon {
  width: 30px; 
  height: auto;
}

.icons a {
  display: inline-block;
  vertical-align: middle;
}
  

.mainpart {
  background-image: url("../assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  background-position: center;
  padding-top: 50px;
}

.logo2 {
  background-color: rgb(37, 54, 60, 0.8);
  border-radius: 30px;
  padding-inline: 20px;
  padding-block: 20px;
  display: block;
  margin: auto;
  width: fit-content;
}

.shopnow {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 20px;
  background: #25363C;
  color:#12A1BB;
  display: block;
  margin: auto;
  width: fit-content;
  text-decoration: none;
}

.ending {
  background: #25363C;
  color:#12A1BB;
  text-decoration: none;
  display: flex;
  gap: 200px;
  font-size: 30px;
}


.ending a {
  color: #12A1BB;
  text-decoration: none;
}

.logo3 {
  padding-right: 200px;
  width: 350px;
  height: 210px;
}

footer {
  padding-top: 50px;
  background: #25363C;
  color: #12A1BB;
}