@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

header {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #25363C;
}
