@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

html, body {
  margin: 0;
}

header {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #25363C;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: #12A1BB;
  font-size: 35px;
}
  

.mainpart {
  background-image: url("../assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  background-position: center;
  padding-top: 50px;
}

.logo1 {
  height: 80px;
  width: auto;
}

.logo2 {
  background-color: rgb(37, 54, 60, 0.8);
  border-radius: 30px;
  padding-inline: 20px;
  padding-block: 20px;
  display: block;
  margin: auto;
  width: fit-content;
}

.shopnow {
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 20px;
  background: #25363C;
  color:#12A1BB;
  display: block;
  margin: auto;
  width: fit-content;
  text-decoration: none;
}

.ending {
  background: #25363C;
  color:#12A1BB;
  text-decoration: none;
  display: flex;
  gap: 30px;
}


.ending a {
  color: #12A1BB;
  text-decoration: none;
}

footer {
  padding-top: 50px;
  background: #25363C;
  color: #12A1BB;
}