@import url(/css/global.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

.mainpart {
  background-color: #95B0B7;
  background-size: cover;
  padding: 1px;
  color: #25363C;
}

/* Product Content Start */

.product {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  display: flex;
}

.product img {
  height: 750px;
  width: auto;
}

.productcontent {
  font-size: 30px;
  background-color: white;
  border-radius: 20px;
  padding-left: 150px;
}

.addtocart {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #12A1BB;
  color: #25363C;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productname {
  font-family: "Nunito Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
}
.productprice {
  font-family: "Nunito Sans Italic", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
}

.colors-product {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 45px;
  height: 1px;
}

.sizes {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 40px;
  font-size: 45px;
}

.sizes p {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
}

.sizes span {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #12A1BB;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 45px;
}

.dotproduct1,
.dotproduct2,
.dotproduct3,
.dotproduct4 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dotproduct1 {
  background: #676767;
}

.dotproduct2 {
  background: #12A1BB;
}

.dotproduct3 {
  background: #57884C;
}

.dotproduct4 {
  background: #E0E0E0;
}

.instockdotdiv {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
}

.dotinstock {
  height: 30px;
  width: 30px;
  background: limegreen;
  border-radius: 100px;
  display: inline-block;
  margin-right: 10px;
}

.productdescription {
  font-family: "Nunito Sans Italic", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}