@import url(/css/global.css);
@import url(/css/_variables.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
}

.mainpart {
  background-color: var(--background-color);
  color: var(--color-primary);
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpart h1 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.mainpart h3 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.mainpart p {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.login {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.loginForm form {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: grid;
  gap: 10px;
}

.loginForm button,
.registerForm Button {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-secondary);
  padding-left: 80px;
  padding-right: 80px;

  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.registerForm form {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  display: grid;
}

input[type='text'],
input[type='name'],
input[type='email'],
input[type='number'] {
  padding: 10px;
  height: 10px;
  width: 300px;
  padding: 10px;
}

.form_input {
  display: block;
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
}

.styled-form input::placeholder {
  color: lightgrey;
}

@media (max-width: 768px) {
  .login {
    padding-right: 20px;
    padding-left: 20px;
  }

  .loginForm h3 {
    font-size: 25px;
  }
  .loginForm form {
    font-size: 15px;
  }
}