@import url(/css/global.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
} 

.mainpart {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #95B0B7;
  background-size: cover;
  padding: 20px;
}

.mainpartcontent img {
  width: 800px;
  height: auto;
}

.mainpartcontent {
  background: white;
  color: #25363C;
  text-align: left;
  border-radius: 20px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.mainpartcontent h1 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.mainpartcontent p {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

@media (max-width: 768px) {
  .mainpartcontent {
    padding: 20px;
  }
  .mainpart h1 {
    font-size: 20px;
  }

  .mainpart p {
    font-size: 15px;
  }

  .mainpart img {
    width: 310px;
  }
}