@import url(/css/global.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
}

.mainpart {
  background-color: #95B0B7;
  color: #25363C;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.mainpart h1 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.mainpart h3 {
  font-family: "Bebas Neue Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.mainpart p {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.SocialMediaIcons {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}

.SocialItem {
  display: flex;
  align-items: center;
}

.SocialIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.contactus {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.ContactUsForm form {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.ContactUsForm button {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #12A1BB;
  padding-left: 80px;
  padding-right: 80px;

  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 30px;
  border-radius: 20px;
}

input[type='text'],
input[type='name'],
input[type='email'],
input[type='number'] {
  padding: 10px;
  height: 20px;
  width: 200px;
  padding: 10px;
}

.form_input {
  display: block;
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
}

.styled-form input::placeholder {
  color: lightgrey;
}

@media (max-width: 768px) {
  .contactus {
    padding: 20px;
  }
  .contactus h1,
  .contactus h3 {
    font-size: 20px;
  }

  .mainpart p,
  .SocialMediaIcons {
    font-size: 15px;
  }

  .ContactUsForm form{
    font-size: 15px;
    padding-top: 10px;
  }

  .ContactUsForm button {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 20px;
  }
}