@import url(/css/global.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

.mainpart {
  background-image: url("../../assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  background-position: center;
  padding-top: 50px;
}

.logo2 {
  background-color: rgb(37, 54, 60, 0.8);
  border-radius: 30px;
  padding-inline: 20px;
  padding-block: 20px;
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

.shopnow {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 20px;
  background: #25363C;
  color:#12A1BB;
  display: block;
  margin: auto;
  width: fit-content;
  text-decoration: none;
}

@media (max-width: 768px) {
  .mainpart {
      height: 600px;
      background-size: cover;
      padding-top: 30px;
  }
}