@import url(/css/global.css);
@import url(/css/_variables.css);

.mainpart {
  background-image: url("../../assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  background-position: center;
  padding-top: 50px;
}

.logo2 {
  background-color: var(--color-primary);
  border-radius: 30px;
  padding-inline: 20px;
  padding-block: 20px;
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

.shopnow {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainheaderfontsize);
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 20px;
  background: var(--color-primary);
  color:var(--color-secondary);
  display: block;
  margin: auto;
  width: fit-content;
  text-decoration: none;
}

@media (max-width: 768px) {
  .mainpart {
      height: 600px;
      background-size: cover;
      padding-top: 30px;
  }
}