@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
}

html, body {
  margin: 0;
}

header {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #25363C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo1 {
  width: 125px;
  height: auto;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
}

.navbar {
  list-style: none;
  display: flex;
  gap: 100px; 
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #12A1BB; 
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons .icon {
  width: 40px;
  height: auto;
}

.icons a {
  display: inline-block;
  vertical-align: middle;
}

.mainpart {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #95B0B7;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

.mainpart h1,
.mainpart h2 {
  font-family: "Nunito Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.mainpart li,
.mainpart p {
  font-size: 20px;
}

.ConfirmationContent {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.ConfirmationContent img {
  background-color: #12A1BB;
  height: 150px;
  width: auto;
  padding: 40px;
  margin-top: 20px;
  border-radius: 100%;
}

.ConfirmationButton Button {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  background-color: #12A1BB;
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.ending {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  background: #25363C;
  color:#12A1BB;
  text-decoration: none;
  display: flex;
  gap: 75px;
  font-size: 30px;
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}


.ending a {
  color: #12A1BB;
  text-decoration: none;
  margin: 0 auto;
}

.logo3 {
  padding-right: 10px;
  padding-left: 20px;
  width: 350px;
  height: 210px;
}

footer {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #25363C;
  color: #12A1BB;
  font-size: 15px;
}

@media (max-width: 768px) {

}