@import url(/css/global.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
}

.mainpart {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #95B0B7;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

.mainpart h1,
.mainpart h2 {
  font-family: "Nunito Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.mainpart li,
.mainpart p {
  font-size: 20px;
}

.ConfirmationContent {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.ConfirmationContent img {
  background-color: #12A1BB;
  height: 150px;
  width: auto;
  padding: 40px;
  margin-top: 20px;
  border-radius: 100%;
}

.ConfirmationButton Button {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  background-color: #12A1BB;
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}