@import url(/css/global.css);

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../../assets/fonts/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/NunitoSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../../assets/fonts/NunitoSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../../assets/fonts/NunitoSansItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light Italic";
  src: url("../../assets/fonts/NunitoSansLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Medium";
  src: url("../../assets/fonts/NunitoSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../../assets/fonts/NunitoSansLight.ttf") format("truetype");
}

.mainpart {
  background-color: #95B0B7;
  background-size: cover;
  padding: 20px;
}

.CheckoutNav,
.PaymentSectionVisa,
.PaymentSectionPaypal,
.CheckoutProduct {
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
}

.CheckoutNav,
.VisaHeader {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}

.CheckoutNav img,
.VisaHeader img {
  height: 80px;
  width: auto;
  cursor: pointer;
}

.CheckoutNav h1 {
  flex: 1;
  text-align: center;
}

.CheckoutProduct {
  padding: 25px;
}

.CheckoutProductInfo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.CheckoutProductInfo img {
  width: 200px;
  height: auto;
}

.CheckoutProductInfo h3,
.CheckoutProductInfo p {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 50px;
}

.PaymentSectionVisa,
.PaymentSectionPaypal {
  padding: 20px;
}

.VisaHeader,
.PaypalHeader {
  font-family: "Nunito Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.PaymentForm input {
  margin-right: 10px;
}

.VisaHeader img,
.PaypalHeader img {
  width: 60px;
  height: auto;
}

.PaymentForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}

.PaymentForm label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.PaymentForm input {
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

.Adress {
  font-size: 20px;
}


.PayNow {
  width: 100%;
  background-color: #12A1BB; 
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .CheckoutNav,
  .VisaHeader,
  .PaypalHeader {
  font-size: 20px;
  }

  .CheckoutNav img,
  .VisaHeader img {
  height: 30px;
  width: auto;
  }

  .CheckoutProduct img {
    height: 100px;
    width: auto;
  }

  .CheckoutProductInfo h3,
  .CheckoutProductInfo p {
  font-family: "Nunito Sans Light", Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 50px;
  font-size: 10px;
  }

  .VisaHeader img,
  .PaypalHeader img {
  width: 30px;
  height: auto;
  }

  .PaymentForm label,
  .PaymentForm input,
  .Adress {
    font-size: 15px;
  }
}